[submodule "buildroot"]
	path = buildroot
	url = git://git.buildroot.net/buildroot
[submodule "board/dacha/rootfs_overlay_priv"]
	path = board/dacha/rootfs_overlay_priv
	url = git@192.168.1.158:nightworker/dacha_rootfs_overlay.git
